body {
    background: black;
    font-family: Sans-serif;
    padding: 20px;
  }
  
.header {
    height: 15%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.header .styled {
  color: white;
  border: 1px solid red;
  background-color: transparent;
}
.glitch {
    font-size: 100px;
    color: white;
    position: relative;
}
@keyframes glitch-anim-1 {
    0% {
      clip-path: inset(31% 0 2% 0);
    }
    5.8823529412% {
      clip-path: inset(56% 0 36% 0);
    }
    11.7647058824% {
      clip-path: inset(37% 0 46% 0);
    }
    17.6470588235% {
      clip-path: inset(8% 0 87% 0);
    }
    23.5294117647% {
      clip-path: inset(92% 0 1% 0);
    }
    29.4117647059% {
      clip-path: inset(40% 0 36% 0);
    }
    35.2941176471% {
      clip-path: inset(20% 0 17% 0);
    }
    41.1764705882% {
      clip-path: inset(59% 0 17% 0);
    }
    47.0588235294% {
      clip-path: inset(16% 0 73% 0);
    }
    52.9411764706% {
      clip-path: inset(58% 0 38% 0);
    }
    58.8235294118% {
      clip-path: inset(49% 0 3% 0);
    }
    64.7058823529% {
      clip-path: inset(80% 0 14% 0);
    }
    70.5882352941% {
      clip-path: inset(59% 0 31% 0);
    }
    76.4705882353% {
      clip-path: inset(33% 0 25% 0);
    }
    82.3529411765% {
      clip-path: inset(56% 0 28% 0);
    }
    88.2352941176% {
      clip-path: inset(7% 0 16% 0);
    }
    94.1176470588% {
      clip-path: inset(75% 0 6% 0);
    }
    100% {
      clip-path: inset(6% 0 93% 0);
    }
}
@keyframes glitch-anim-2 {
    0% {
      clip-path: inset(57% 0 40% 0);
    }
    5.8823529412% {
      clip-path: inset(85% 0 14% 0);
    }
    11.7647058824% {
      clip-path: inset(17% 0 80% 0);
    }
    17.6470588235% {
      clip-path: inset(54% 0 40% 0);
    }
    23.5294117647% {
      clip-path: inset(67% 0 2% 0);
    }
    29.4117647059% {
      clip-path: inset(17% 0 29% 0);
    }
    35.2941176471% {
      clip-path: inset(20% 0 27% 0);
    }
    41.1764705882% {
      clip-path: inset(76% 0 8% 0);
    }
    47.0588235294% {
      clip-path: inset(21% 0 65% 0);
    }
    52.9411764706% {
      clip-path: inset(55% 0 31% 0);
    }
    58.8235294118% {
      clip-path: inset(49% 0 29% 0);
    }
    64.7058823529% {
      clip-path: inset(31% 0 9% 0);
    }
    70.5882352941% {
      clip-path: inset(2% 0 77% 0);
    }
    76.4705882353% {
      clip-path: inset(42% 0 49% 0);
    }
    82.3529411765% {
      clip-path: inset(32% 0 59% 0);
    }
    88.2352941176% {
      clip-path: inset(72% 0 15% 0);
    }
    94.1176470588% {
      clip-path: inset(4% 0 91% 0);
    }
    100% {
      clip-path: inset(59% 0 36% 0);
    }
}
.glitch::before, .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
}
.glitch::after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: glitch-anim-1 2s infinite linear alternate-reverse;
}
.glitch::before {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
.styled-select {
    display: inline;
    padding: 5px;
    margin-right: 8px;
    background-color: black;
    color: red;
    border: 1px solid red;
    height: 5%;
    overflow: hidden;
    width: 55px;
 }
 
 .styled-select select {
    padding: 2px;
    background: black;
    color: red;
    border: none;
    font-size: 14px;
    height: 5%;
    width: 80px;
 }

 .header input[type=text] {
    display: inline;
    border: 1px solid red;
    background-color: black;
    color: red;
    height: 5%;
    width: 130px;
    text-align: center;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  .header input[type=text]:focus {
    width: 130px;
    outline-width: 0;
  }

  .header input[type=text]:focus::placeholder {
    color: transparent;
  }

  .header input[type=text]::placeholder {
      color: red;
  }
  .intro {
    margin: auto;
    color: red;
    border: 1px solid red;
    padding: 30px;
    text-align: center;
    width: 25%;
  }
  .intro input[type=text] {
    display: inline;
    border: 1px solid red;
    background-color: black;
    color: red;
    height: 29px;
    width: 45%;
    text-align: center;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  .intro input[type=text]:focus {
    width: 65%;
    outline-width: 0;
  }

  .intro input[type=text]:focus::placeholder {
    color: transparent;
  }

  .intro input[type=text]::placeholder {
      color: red;
  }

  /* Media Queries */

@mixin mq-xs {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin mq-sm {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin mq-md {
  @media (min-width: 720px) {
    @content;
  }
}

@mixin mq-lg {
  @media (min-width: 1000px) {
    @content;
  }
}

$background: #f7f7f7;
$box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
$border: 1px solid rgba(191, 191, 191, 0.4);
$items: 5;
$rows: ceil($items/2);

/* Card sizing */

$card-height: 400px;
$card-width: 450px;
$inner-margin: 15px;
$number-size: 35px;
$stagger: 180px;
$outer-margin: 90px;
$marker-size: 9px;

/* Colors */

$steps: #46b8e9;
$colors: #46b8e9,
#3ee9d1,
#ce43eb,
#4d92eb;
$timeline: #bdbdbd;

/* Calculations */

$container-height: $rows * ($card-height + $outer-margin) + $stagger;
$container-width: $card-width*2 + $outer-margin*3;
$head-height: $number-size + 50;
$body-height: $card-height - $head-height;
$marker-dist: $card-width + $outer-margin/2 - $marker-size/2;

/* Placeholders */

@include mq-lg {
  %arrow {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  %marker {
    position: absolute;
    content: "";
    width: $marker-size;
    height: $marker-size;
    background-color: $timeline;
    border-radius: $marker-size;
    box-shadow: 0px 0px 2px 8px $background;
  }
}


/* Some Cool Stuff */

$counter: $items - $rows + 2;
@for $i from 1 through $rows {
  .demo-card:nth-child(#{$i*2-1})   { order: $i }
  .demo-card:nth-child(#{$i*2})     { order: $counter }
  $counter: $counter + 1;
}

/* Border Box */

* {
  box-sizing: border-box;
}

/* Fonts */

body {
  font-family: Roboto;
}

#timeline {
  padding: 100px 0;
  background: $background;
  border-top: $border;
  border-bottom: $border;
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
  }
  p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
  }
  .demo-card-wrapper {
    position: relative;
    margin: auto;
    @include mq-lg {
      display: flex;
      flex-flow: column wrap;
      width: $container-width;
      height: $container-height;
      margin: 0 auto;
    }
    &::after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: $border;
      @include mq-lg {
        border-left: 1px solid $timeline;
      }
    }
  }
  .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
    @include mq-sm {
      max-width: 60%;
      box-shadow: $box-shadow;
    }
    @include mq-md {
      max-width: 40%;
    }
    @include mq-lg {
      max-width: $card-width;
      height: $card-height;
      margin: $outer-margin;
      margin-top: $outer-margin/2;
      margin-bottom: $outer-margin/2;
      &:nth-child(odd) {
        margin-right: $outer-margin/2;
        .head::after {
          @extend %arrow;
          border-left-width: 15px;
          border-left-style: solid;
          left: 100%;
        }
        .head::before {
          @extend %marker;
          left: $marker-dist + 1;
        }
      }
      &:nth-child(even) {
        margin-left: $outer-margin/2;
        .head::after {
          @extend %arrow;
          border-right-width: 15px;
          border-right-style: solid;
          right: 100%;
        }
        .head::before {
          @extend %marker;
          right: $marker-dist - 1;
        }
      }
      &:nth-child(2) {
        margin-top: $stagger;
      }
    }
    .head {
      position: relative;
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: 400;
      .number-box {
        display: inline;
        float: left;
        margin: $inner-margin;
        padding: 10px;
        font-size: $number-size;
        line-height: $number-size;
        font-weight: 600;
        background: rgba(0, 0, 0, 0.17);
      }
      h2 {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: inherit;
        letter-spacing: 2px;
        margin: 0;
        padding-bottom: 6px;
        line-height: 1rem;
        @include mq-sm {
          font-size: 165%;
          line-height: 1.2rem;
        }
        span {
          display: block;
          font-size: 0.6rem;
          margin: 0;
          @include mq-sm {
            font-size: 0.8rem;
          }
        }
      }
    }
    .body {
      background: #fff;
      border: $border;
      border-top: 0;
      padding: $inner-margin;
      @include mq-lg {
        height: $body-height;
      }
      p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: $inner-margin;
      }
      img {
        display: block;
        width: 100%;
      }
    }
    @for $i from 1 through $items {
      &--step#{$i} {
        $color: nth($colors, ((($i - 1) % 4) + 1));
        background-color: $color;
        .head::after {
          border-color: $color;
        }
      }
    }
  }
}